::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

h1,
h2 {
    font-family: 'Inter Bold', sans-serif;
}

body {
    font-family: 'Inter Regular', sans-serif;
}